<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932020449632-pdpqg0pmdj5mr46of60vcqijitqq45gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932020449632-pdpqg0pmdj5mr46of60vcqijitqq45gv</string>
	<key>API_KEY</key>
	<string>AIzaSyDYylFD_Vl8q60bRPO_6r0vAjX_EV02w8g</string>
	<key>GCM_SENDER_ID</key>
	<string>932020449632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sr2.dominicanCasino</string>
	<key>PROJECT_ID</key>
	<string>dominican-casino</string>
	<key>STORAGE_BUCKET</key>
	<string>dominican-casino.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932020449632:ios:316853b7dc8a39fdc9ee05</string>
</dict>
</plist>